[2020-09-29 14:54] billdodd opened #3 "Add support for Redfish-Test-Framework"
Add a test_conf.json file.

[2020-09-29 14:59] billdodd opened #4 "Continue adding Service requests test assertions"
Continue adding test assertions for the Service requests section of the specification.

[2020-10-16 19:28] #3 closed

[2020-10-16 19:29] #4 closed

[2021-01-28 19:20] scottbusi opened #9 "Unhandled connection errors with HTTP redirect attempts and SSE streams"
Continue to crash during execution
python3 rf_protocol_validator.py --user Administrator --password superuser -r https//10.8.1.164 --no-cert-check

Python 3.6
Name: urllib3
Version: 1.14
Name: requests
Version: 2.9.1

/usr/local/lib/python3.6/site-packages/requests/packages/urllib3/connectionpool.py:791: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verificatio

[2021-01-28 19:48] billdodd commented on #9
That's a really old version of `requests` (2.9.1 is from 2015). Can you try updating to the latest `requests` package?

[2021-01-28 21:49] scottbusi commented on #9
Thank you for the replay, looks like that resolved that issue but now getting another failure

Name: urllib3
Version: 1.26.3
Name: requests
Version: 2.9.1

  InsecureRequestWarning)
/usr/local/lib/python3.6/site-packages/requests/packages/urllib3/connectionpool.py:791: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://

[2021-01-28 22:05] scottbusi commented on #9
Sorry missed the entire failure, no latest version of requests did not solve this

/usr/local/lib/python3.6/site-packages/requests/packages/urllib3/connectionpool.py:791: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/en/latest/security.html
  InsecureRequestWarning)
/usr/local/lib/python3.6/

[2021-01-28 22:33] billdodd commented on #9
InsecureRequestWarning)
/usr/local/lib/python3.6/site-packages/requests/packages/urllib3/connectionpool.py:791: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/en/latest/security.html
  InsecureRequestWarning)
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/re

[2021-01-29 02:56] scottbusi commented on #9
Sorry mistake on my part, sorry to keep bothering you but still no luck, not sure if something is wrong on our side
                "RedfishVersion": "1.8.0",
                "RtpVersion": "1.8.0"
[root@scottsys unittests]# uname -a
Linux scottsys 3.10.0-1127.el7.x86_64 #1 SMP Tue Mar 31 23:36:51 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[root@scottsys Redfish-Protocol-Validator-master]# pip3.6 ins

[2021-01-29 04:57] billdodd commented on #9
Thanks. That output is helpful.

One of the tests sends a GET request to an HTTP URL to try to trigger a redirect and see how it behaves. It looks like your service is not responding to the request at all, hence the timeout. I may need to update the code to handle this case.

In the meantime, can you try adding the `--avoid-http-redirect` option to your command line:

[2021-01-29 16:37] scottbusi commented on #9
Tried the –avoid-http-redirect , no luck

[root@scottsys Redfish-Protocol-Validator-master]# python3.6 rf_protocol_validator.py --user Administrator --password superuser --rhost https://10.8.1.164 --no-cert-check --avoid-http-redirect
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/urllib3/connectionpool.py", line 706, in urlopen
    chunked=chunked,
  File "/usr/

[2021-01-29 18:45] billdodd commented on #9
It did get further with the --avoid-http-redirect option. But then it got an unexpected exception trying to open the Server-Sent Event stream. I'll look into how to better handle cases like that.

[2021-02-02 18:24] scottbusi commented on #9
Any luck on a update to handle the non responsive service?

[2021-02-02 22:35] billdodd commented on #9
I should have a test PR ready tomorrow (or maybe later tonight).

[2021-02-02 23:05] scottbusi commented on #9
Thanks, I may of work past the problem, looks like it ran.  Did get some warnings and errors.

root@scottsys Redfish-Protocol-Validator-master]# python3.6 rf_protocol_validator.py --user Administrator --password superuser --rhost https://10.8.1.164 --no-cert-check --avoid-http-redirect
WARNING:root:Creating Redfish session failed with status 401; using Basic authentication
status 401WARNING:root:s

[2021-02-03 00:34] billdodd commented on #9
Glad to hear you got a complete run in.

I created PR #10 with fixes to avoid the unhandled exceptions for the redirect attempts and the opening of the SSE stream. Please give it try and let me know if you still get any crashes.

[2021-02-03 01:36] scottbusi commented on #9
Thank you will do, did run into a problem that is in our code where we can not to a post or get on /SessionService/Session.  Not sure how this effects the tool

Scott Busi
Senior Staff Engineer
M: 919-219-2705

[ZT Systems]<http://www.ztsystems.com/>

This email and any files transmitted with it are privileged/confidential and intended solely for the use of the individual to whom they are addresse

[2021-02-03 05:55] billdodd commented on #9
If the POST to create a session fails, the tool will fall back to using BasicAuth. So it should still be able to access protected resources. But there are some tests that, for example, create a session with POST and DELETE it to test DELETE functionality. But if the POST fails, it can't perform the DELETE test, so you should see those tests showing a NOT_TESTED result.

[2021-02-03 18:06] scottbusi commented on #9
Again thank you, sometimes it looks like we do not get a response, would this be related?

[root@scottsys Redfish-Protocol-Validator-master]# python3.6 rf_protocol_validator.py --user Administrator --password superuser --rhost https://10.8.1.150 --no-cert-check --avoid-http-redirect
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/urllib3/connectionpool.py", line 7

[2021-02-03 19:15] billdodd commented on #9
Yes, that looks like another case where the service closed the connection without sending a response.

For these types of traceback output, there should normally be one or two or three additional stanzas like:

[code]

If you could capture the full set of all those tracebacks, I can see where in the tool I may need to add additional try/except.

[2021-02-03 19:37] scottbusi commented on #9
[root@scottsys urllib3]# python3.6 rf_protocol_validator.py --user Administrator --password superuser --rhost https://10.8.1.164 --no-cert-check --avoid-http-redirect
python3.6: can't open file 'rf_protocol_validator.py': [Errno 2] No such file or directory
[root@scottsys urllib3]# cd ..
[root@scottsys Redfish-Protocol-Validator-master]# python3.6 rf_protocol_validator.py --user Administrator --pa

[2021-02-03 19:46] billdodd commented on #9
test_request_headers(sut)
  File "/Redfish_Protocol_Validator/Redfish-Protocol-Validator-master/assertions/service_requests.py", line 1263, in test_request_headers
    test_accept_header(sut)
  File "/Redfish_Protocol_Validator/Redfish-Protocol-Validator-master/assertions/service_requests.py", line 73, in test_accept_header
    test_header(sut, header, header_values, uri, assertion, stream=True)

[2021-02-03 22:09] scottbusi commented on #9
Looks like we got further then got another timeoue

[root@scottsys Redfish-Protocol-Validator-master]# python3.6 rf_protocol_validator.py --user Administrator --password superuser --rhost https://10.8.1.164 --no-cert-check --avoid-http-redirect
WARNING:root:Attempt to PATCH /redfish/v1/Managers/Self/NetworkProtocol to restore the original NTPServers array failed with status 401; PATCH payload: {'N

[2021-02-03 22:30] billdodd commented on #9
Got it. I'll make an update to the PR to cover this case as well. Should have it ready tomorrow morning sometime. I'll add a comment here when it is ready.

[2021-02-04 16:30] billdodd commented on #9
I just updated PR #10 with an additional fix for the most recent exception. Please download the PR code again and give it a try.

[2021-02-04 17:49] scottbusi commented on #9
Looks like those fixes worked, we can now execute with no exceptions

[root@scottsys Redfish-Protocol-Validator-master]# python3.6 rf_protocol_validator.py --user Administrator --password superuser --rhost https://10.8.1.164 --no-cert-check --avoid-http-redirect
WARNING:root:Attempt to PATCH /redfish/v1/Managers/Self/NetworkProtocol to restore the original NTPServers array failed with status 401;

[2021-02-04 18:03] scottbusi commented on #9
There is one warning and during execution and the same warning is a failure for the test results with a patch to PATCH /redfish/v1/Managers/Self/NetworkProtocol
WARNING:root:Attempt to PATCH /redfish/v1/Managers/Self/NetworkProtocol to restore the original NTPServers array failed with status 401; PATCH payload: {'NTP': {'NTPServers': ['time.nist.gov', 'pool.ntp.org']}}

We are able to PATCH /redfi

[2021-02-04 18:35] billdodd commented on #9
That's great news. Thanks for testing the PR!

[2021-02-04 18:56] billdodd commented on #9
[root@scottsys ~]# curl --globoff -L -w "%{http_code} %{url_effective}\\n" -ku Administrator:superuser -H "Content-Type: application/json" -H 'If-None-Match: ""' -d '{"NTP": {"NTPServers": ["time.nist.gov", "pool.ntp.org"]}}' -X PATCH https://10.8.1.164/redfish/v1/Managers/Self/NetworkProtocol
204 https://10.8.1.164/redfish/v1/Managers/Self/NetworkProtocol

Here, the representation of the payload

[2021-02-11 19:12] billdodd opened #12 "Invalid login attempts can cause service to block client"
Some Redfish services will detect too many invalid login attempts and block incoming access to the offending client for some period of time. The Protocol-Validator does a very minimal set of intentional bad authentication requests to test protocol specified behavior.

I discovered this behavior recently started being triggered for one of the services I normally test against. After looking into it,

[2021-02-11 20:18] mraineri commented on #12
Maybe we need to create a "test" account we allow to get locked for these types of tests. Once the test account is locked, we can use the administrator account being used to run the test to go in and unlock it.

Another option would be to see if we can modify the lockout threshold for the duration of the test, but it's possible some implementations make this a read-only property.

[2021-02-12 20:19] #9 closed

[2021-02-13 15:14] billdodd commented on #12
The tool does this (uses newly created test accounts for resource manipulation and invalid login testing). In the situation I encountered, the problem wasn't that the account got locked; it was that the service blocked all access from the client's IP address for a period of time.

After I fix the bugs I mentioned, the client IP address blocking should no longer be triggered.

[2021-02-15 13:31] mraineri commented on #12
Ah, I see. More complicated than I assumed!

[2021-02-19 20:28] #12 closed

[2021-04-15 08:33] abrother94 opened #15 "Exception caught while trying to retrieve and decode certificate for https://172.17.8.47:8889"
If we use following command to test

**python3 rf_protocol_validator.py -r https://172.17.8.47:8889 -u admin -p YourPaSsWoRd --no-cert-check --avoid-http-redirect**

will cause

**Exception caught while trying to retrieve and decode certificate for https://172.17.8.47:8889; exception: [Errno -2] Name or service not known**

and def test_certs_conform_to_x509v3   in assertions/security_details.py
.

[2021-04-15 23:44] billdodd commented on #15
@abrother94 Thanks for reporting this issue. I created PR #16 which I believe fixes the problem. But I do not have access to a live Redfish service to test. Could you test the fix in PR #16 to confirm if it solves your issue?

[2021-04-19 01:28] abrother94 commented on #15
It works here!! thanks  :)

[2021-04-19 05:24] billdodd commented on #15
@abrother94 That's great! Thanks for checking it out.

[2021-04-23 19:18] #15 closed

[2021-04-30 03:05] abrother94 opened #17 "REQ_PATCH_MIXED_PROPS: "Modify several properties where one or more properties can never be updated: Services shall return the HTTP 200 OK status code and a resource representation with a message annotation that lists the non-updatable properties.""
In the account PATCH test, I got the

REQ_PATCH_MIXED_PROPS: "Modify several properties where one or more properties can never be updated: Services shall return the HTTP 200 OK status code and a resource representation with a message annotation that lists the non-updatable properties."

The service response returned status code 400; expected 200; extended error: {'BogusProp': 'foo', 'Password': 'g

[2021-04-30 03:16] abrother94 commented on #17
I got these answer in  RF spec 7.6 PATCH
Thanks

[2021-04-30 03:16] #17 closed

[2021-06-02 10:47] FelixD999 opened #18 "Some requests returned 401 status code but manual test not return same response"
As mentioned in the title, Attach the following examples for reference. Are there any certification procedures that leads to respond 401 code?

Tool Version: 1.0.4
python3 rf_protocol_validator.py -r https://{IP} -u USERNAME -p PASSWORD --avoid-http-redirect --no-cert-check

Example:
1. REQ_HEADERS_ACCEPT: "Redfish Services shall process the [Accept header] in the following table as defined by the

[2021-06-02 11:53] FelixD999 opened #19 "The result of tool report different from manual test"
Tool Version: 1.0.4
python3 rf_protocol_validator.py -r https://{IP} -u USERNAME -p PASSWORD --avoid-http-redirect --no-cert-check

SERV_EVENT_POST_RESP: "If the [Event Service] subscription request succeeds, the service shall return an HTTP 201 Created status code, and the Location header that contains a URI of the newly created subscription resource.

Message:
Response from event subscription PO

[2021-06-02 12:44] mraineri commented on #19
Would you be able to provide what you did for your manual test? What was the request body when creating a new event subscription?

[2021-06-02 12:47] mraineri commented on #18
Usually a 401 indicates an invalid set of credentials was provided; depending on the permissions of the given user account, it may be able to access some resources but not others. Are you using the same credentials with the protocol validator as you are with your manual tests?

[2021-06-03 22:39] jautor opened #20 "Use of TRACE to validate 501/405 behavior issue with Apache implementations"
The test RESP_HEADERS_ALLOW_METHOD_NOT_ALLOWED uses the HTTP `TRACE` method to perform the check.  We are running into a security conflict here with an implementation based on Apache.  The Apache configuration option "TraceEnable Off" results in `TRACE` operations being denied before the request even reaches the Redfish Service.  But Apache is not filling out the `Allow` header, nor providing a me

[2021-06-04 12:26] mraineri commented on #20
What do you return for other methods that are not allowed? At least with the way the spec is published today, there are two paths here:
* Return 405 with the Allow header
* Return 501

The Allow header is currently listed as mandatory in 405 responses.

[2021-06-04 14:29] jautor commented on #20
Other methods are handled properly (and by the Redfish Service code) and return 405 with the `Allow` header.  It's specifically that Apache handles `TRACE` and doesn't give a way to affect that response.  The fact that Apache isn't matching the RFC behavior for 405 is something that should be raised with Apache, too.

[2021-06-04 15:00] FelixD999 commented on #18
Yes, I sure using the same credentials with them.

[2021-06-04 15:01] FelixD999 commented on #19
The request body of my creating subscription is as follows.
POST https://192.168.0.122/redfish/v1/EventService/Subscriptions
{
    "Context": "Event_Sub",
    "Destination": "https://192.168.0.110:4443",
    "Protocol": "Redfishhh",
    "EventFormatType": "Event",
    "RegistryPrefixes": [],
    "ResourceTypes": []
}

[2021-06-04 15:58] mraineri commented on #19
What happens when you provide this as a payload in your manual test?

[code]

[2021-06-04 16:07] mraineri commented on #18
For your manual testing, how did you insert the Accept header in the GET request for items 1 and 2? Are you able to provide the full sequence with HTTP request headers included?

For item 3, the POST to /redfish/v1/SessionService/Sessions for an account that requires a password change is supposed to return 200 OK; all other operations are supposed to be 403 until the user changes their password. C

[2021-06-04 16:43] mraineri commented on #18
Are you also able to provide the test report?

[2021-06-04 19:32] mraineri commented on #20
6/4: While the HTTP RFCs and the Redfish spec do call out requiring the Allow header with a 405 response, the spirit of the test is to be able to verify documented HTTP methods in the Redfish spec can be discovered as supported or not. TRACE is not part of the Redfish spec, so allowing this to pass through should be okay.

[2021-06-04 19:36] mraineri commented on #19
Depending on the results of the request, we can make a change to the tool to use something like `https://192.168.1.1/Destination1` instead of `https://contoso.com/Destination1`.

[2021-06-04 21:53] jautor commented on #20
Note that we've entered an issue with Apache on the lack of the Allow header:
https://bz.apache.org/bugzilla/show_bug.cgi?id=65357

[2021-06-10 03:51] FelixD999 commented on #19
When I provide that as a payload in manual test, it will return 400.
![POST400](https://user-images.githubusercontent.com/85208691/121323344-540b8e00-c942-11eb-93b1-926bc9a57803.JPG)

[2021-06-10 03:51] FelixD999 commented on #18
Attach the following picture for your reference:
For items 1 and 2
![SSE_1](https://user-images.githubusercontent.com/85208691/121341087-e7e55600-c952-11eb-87a4-ca53ba3cea25.JPG)

![SSE_2](https://user-images.githubusercontent.com/85208691/121341110-eddb3700-c952-11eb-8061-8c8ad5cfbcbc.JPG)

For item 3
1. POST /redfish/v1/AccountService/Accounts
{
    "Name": "Test User Account",
    "Description"

[2021-06-10 03:53] FelixD999 commented on #18
Attach the following report for your reference
[RedfishProtocolValidationReport_06_01_2021_190256.zip](https://github.com/DMTF/Redfish-Protocol-Validator/files/6628210/RedfishProtocolValidationReport_06_01_2021_190256.zip)

[2021-06-11 15:57] mraineri commented on #19
@FelixD999 could you please try the branch in pull request #21 to see if that resolves the issue for you? Unfortunately I don't have a service with the same restriction yours does to test it myself.

[2021-06-11 16:16] mraineri commented on #20
@jautor can you try out the branch in pull request #22 to see if that resolves the issue?

[2021-06-27 19:30] FelixD999 opened #23 "GET Same URI return status code conflict"
The tests case below return status code not consistent:
- REQ_QUERY_UNSUPPORTED_DOLLAR_PARAMS: "Services shall return the HTTP 501 Not Implemented status code for any unsupported query parameters that start with $."
- REQ_QUERY_UNSUPPORTED_PARAMS_EXT_ERROR: "Services shall return an extended error that indicates the unsupported query parameters for this resource."

Attach the following picture for

[2021-06-28 12:27] mraineri commented on #23
The first test verifies the HTTP status code; as long as it's a 501, the test passes.

The second test verifies the response message contains an indicator that the referenced query parameter in the extended error. In the payload you provided for the second attempt, it's using the more general "QueryNotSupported" which is used to indicate query parameters are not supported at all. Your first attemp

[2021-07-02 12:28] mraineri commented on #23
Will be removing the second test for now since this is a hole in the specification.

[2021-07-02 19:08] #19 closed

[2021-07-02 19:11] #20 closed

[2021-07-02 19:14] #23 closed

[2021-07-04 01:17] scottbusi opened #25 "Error [SSL: CERTIFICATE_VERIFY_FAILED] and Warning NTPServers array failed with status 401"
We have not run the protocol validator in a few months and have made some redfish changes.  We now get the following error and warning which we have not seen before.  We know we have some implementation issues on NTP but have not had an issue with PATCH, we are puzzled by the [CERTIFICATE_VERIFY_FAILED]([url](url))

ERROR:root:Caught exception while creating or patching accounts; Exception: HTTPSC

[2021-07-06 14:30] mraineri commented on #25
Are you able to run with the `--no-cert-check` option?

[2021-07-06 16:07] scottbusi commented on #25
Yes ran  --no-cert-check

root@scottsys Redfish-Protocol-Validator-master]# python3 rf_protocol_validator.py -u Administrator -p superuser -r https://10.8.1.90 --avoid-http-redirect --no-cert-check
ERROR:root:Caught exception while creating or patching accounts; Exception: HTTPSConnectionPool(host='10.8.1.90', port=443): Max retries exceeded with url: /redfish/v1/AccountService/Accounts/9 (Caused

[2021-07-08 12:50] mraineri commented on #25
Still looking into this, but at the moment this appears to be two different issues.

Specifically for the NTPServers issue, I'm wondering if the service you're using does not allow for an empty string to be provided to the NTPServers array. It's odd that it would start off with an empty string, and later reject a client request that contains the same data.

Could you try using these curl commands

[2021-07-09 14:16] mraineri commented on #18
I pushed changes to branch "Issue18-Debug" to help trace what's going on. @FelixD999 would you be able to run the tool from that branch and provide the console output?

One thing to note with regards to the SSE tests is the tool will use the X-Auth-Token assigned at session login to access the SSE stream, but I see in your testing you're using Basic Authentication; can you use sessions in your man

[2021-07-22 09:27] FelixD999 commented on #18
Although use  "Issue18-Debug" still exist the previous fail items, we found this situation is limited by our code design. In our design, we lack the feature that use the X-Auth-Token assigned at session login to access the SSE.
Thanks for your help us to clarify test problems.

[2021-08-04 04:24] FelixD999 commented on #18
Hi,
May I ask one more question:

[When using an account with PasswordChangeRequired set to true] the service shall allow a session login and include a @Message.ExtendedInfo object in the response containing the PasswordChangeRequired message from the Base Message Registry.

If POST /redfish/v1/SessionService/Sessions for an account that requires a password change is supposed to return 200, the se

[2021-08-04 12:51] mraineri commented on #18
That's correct, the session member will be created successfully; there will be a message in the response payload that indicates a password change is required. It would look something like this:

[code]

[2021-08-05 11:55] FelixD999 commented on #18
Excuse me, I have some confuse on it. The previous comment mentioned "the POST to /redfish/v1/SessionService/Sessions for an account that requires a password change is supposed to return 200 OK", but the latest example is 201 Created. Did I miss anything?

[2021-08-05 12:14] mraineri commented on #18
Sorry, I looked back at my older comment and made a mistake; I should not have said 200 OK.

201 Created is the proper response code; successful POST operations that create a new resource are supposed to use "201 Created".

[2021-08-06 07:31] FelixD999 opened #26 "The quantity value for NTP Server on PATCH payload"
Hi,
For the three teat cases about NTP Server below:
1. REQ_PATCH_ARRAY_ELEMENT_REMOVE: "Within a PATCH request, the service shall accept null to remove an element."
2. REQ_PATCH_ARRAY_ELEMENT_UNCHANGED: "Within a PATCH request, the service shall accept an empty object {} to leave an element unchanged"
3. REQ_PATCH_ARRAY_TRUNCATE: "A PATCH request with fewer elements than in the current array shal

[2021-08-06 08:12] FelixD999 commented on #18
Got it.
Thank you very much for your explanation.

[2021-08-06 08:12] #18 closed

[2021-08-06 10:26] JojoWu19 opened #27 "About SEC_PRIV_OPERATION_TO_PRIV_MAPPING"
We get the below warning in the report:
<img width="856" alt="未命名" src="https://user-images.githubusercontent.com/36840032/128491272-1fd803cb-3aff-400c-a6ad-62ffb2172a2f.png">

The Validator PATCH a `ManagerAccount` resource with `"RoleId":"ReadOnly", "UserName": "rfpv8f12" ...`, and then using the identity `rfpv8f12` to PATCH this resource with again, and Validator expects to get 401 as `PASS`, a

[2021-08-06 12:25] mraineri commented on #27
401 is the correct HTTP status code. 401 indicates the client provided invalid credentials (such as a bad password or username), or did not provide any credentials.

This test is to verify the behavior of authentication and authorization; it's purposefully sending an invalid password to ensure the request is rejected due to invalid credentials.

It appears the service is performing ETag validation

[2021-08-06 19:33] mraineri commented on #26
Since the point of these tests is to verify array behavior in a manner that won't impact connectivity of the system, we picked NTPServers as a fairly safe property to perform array testing that is likely to be widely supported. That said, we also assumed 3 is a fairly reasonable assumption as the smallest this array might be in an implementation, but from what you've shown us this assumption is wr

[2021-08-09 08:06] JojoWu19 commented on #27
@mraineri ,
I think the warning is not raised in the part of sending an invalid password.
Below is the logs of warning part in the web log:
[code]
Above request is PATCH with "Password": "******","RoleId": "ReadOnly","UserName": "rfpv8f12".
[code]
Above request is PATCH with "Enabled": true.
[code]
Above request is GET by using correct password of `rfpv8f12`.
[code]
Above request should be  PATCH

[2021-08-09 12:13] mraineri commented on #27
I looked closer and you're right about the password here; this is a case where the tool is performing a request with a non-privileged account to change someone else's password. In this case, I would expect a 403 and not a 401. I would still think a 412 is not appropriate here since the user is attempting to perform an operation to which they do not have privilege.

Most operations are performed ah

[2021-08-10 10:43] JojoWu19 commented on #27
About `this is a case where the tool is performing a request with a non-privileged account to change someone else's password. In this case, I would expect a 403 and not a 401. I would still think a 412 is not appropriate here since the user is attempting to perform an operation to which they do not have privilege.`, yes, I also expect the http status is 403. Would validator modify this case to PAT

[2021-08-10 12:36] mraineri commented on #27
Sure, we can certainly find a way to add that. That would be a very useful feature.

I'll discuss the tool change further with others, and I might need to see if clarifications in the spec are needed.

[2021-08-11 02:09] JojoWu19 commented on #27
@mraineri , get it.
Thank you.

[2021-08-11 04:12] FelixD999 opened #28 "About using an account with PasswordChangeRequired set to true"
Hi,
For the test case SEC_PWD_CHANGE_REQ_ALLOW_SESSION_LOGIN, the report message return POST /redfish/v1/SessionService/Sessions using account with PasswordChangeRequired set failed with status 401. I tried to manual test and used the account with PasswordChangeRequired set true to create session then returned 201 status code and include @Message.ExtendedInfo in the response.
Report:
![PasswordCha

[2021-08-13 15:11] mraineri commented on #28
Can you try running the tool from the "Issue18-Debug" branch? There are some trace messages in there to help show what the tool is seeing in some of these steps.

[2021-08-13 18:41] mraineri commented on #27
@JojoWu19 will be updating the tool to check for 403 and 404 as valid responses. We added a clause to the spec some time last year to allow for 404 in case advertising the URI itself is considered sensitive.

401 will be a warning, and any 2XX status is a strict failure.

I'm going to leave this issue open though because the logging of request/response data for debug is going to take more work tha

[2021-08-18 09:12] JojoWu19 commented on #27
@mraineri ,
I check the report of new validator but it still uses new created readonly account(Accounts/6) to patch this new created readonly account(Accounts/6) so this issue still is existed. Could you help check this? Thank you.

[2021-08-18 12:57] mraineri commented on #27
That's the intent; the tool creates a new read-only account and attempts to perform a PATCH of another user to ensure the service rejects the request.

Are you saying you're seeing the new account attempt to PATCH its own password?

[2021-08-19 06:37] JojoWu19 commented on #27
Yes, it looks like a new account PATCH its own password. Below are related debug logs:
[code]
You also can refer the logs of web side that I poested above.

[2021-08-19 13:13] mraineri commented on #27
Okay, thanks; I'll take a closer look. I don't see that happening on the systems I've tried, but maybe there are some assumptions in the "PATCH Other" logic that might end up PATCHing the same account in certain scenarios.

[2021-08-20 13:18] mraineri commented on #27
I'll need to do a bit more tracing, but from tracing the path, the test will create two new user accounts for the test.
* Line 320 in resources.py the first ReadOnly account is created
* Line 335 in resources.py is steps inside of the "patch_other_account" routine
* Line 266 in resources.py the second ReadOnly account is created
* Line 269 in resources.py a new session is created with the account

[2021-08-25 04:06] JojoWu19 commented on #27
@mraineri , you are right. This test have created two new user account to test.
I add a log to print header of etag and not to remove new created accounts, and then I find the log `DEBUG:root:headers: {'If-Match': 'W/"ae011ef73c084602014392facdb83e8032a05d16"'}` but when I get it manually, the etg is `ETag: "ae011ef73c084602014392facdb83e8032a05d16"`. I think this cause the result 412, but I don't

[2021-08-25 10:02] JojoWu19 commented on #27
@mraineri , I think below codes make this issue:
[code]
I modify this part as below and I can see the result is 403.
[code]
But the test case will be NOT_TESTED because I don't add the response to original sut.

[2021-08-26 10:57] JojoWu19 opened #30 "About REQ_PATCH_ARRAY_TRUNCATE"
This test case check if the array of response is the same with `expected_array` but it will report below cases failed.
1. fixed length array: there are `null` members are appended in the end of array.
2. the member has default value: some implemetations have default value for members, for example: "" or "0.0.0.0". If the member is deleted, it is given the default value.

I don't sure if the case 2

[2021-08-30 09:46] JojoWu19 commented on #30
Get it, thank you.

[2021-09-02 05:16] FelixD999 commented on #28
Hi,
We tried running the tool from the "Issue18-Debug" branch and got the trace message. Attach the following log and report for reference:

[210820.txt](https://github.com/DMTF/Redfish-Protocol-Validator/files/7095864/210820.txt)
[RedfishProtocolValidationReport_08_20_2021_194251.zip](https://github.com/DMTF/Redfish-Protocol-Validator/files/7095991/RedfishProtocolValidationReport_08_20_2021_19425

[2021-09-03 18:04] mraineri commented on #30
@JojoWu19 could you please try the Array-Test-Fixes branch? I don't have a system that performs the null padding at the end of the array to verify this myself.

[2021-09-03 18:36] mraineri commented on #26
@FelixD999 would you be able to test the branch Array-Test-Fixes to see if that addresses the issue for you? I don't have a system available that limits NTPServers to 2 like you do.

[2021-09-03 18:44] mraineri commented on #27
Thanks; I'll need to take a closer look at this. This may be related to issue #28 .

[2021-09-06 09:25] JojoWu19 commented on #30
@mraineri It is passed in my side, and here is the debug log:
[debug.txt](https://github.com/DMTF/Redfish-Protocol-Validator/files/7114836/debug.txt)

[2021-09-06 09:27] JojoWu19 commented on #27
Get it, and if you need to verify, please let me know, thanks.

[2021-09-17 19:57] #26 closed

[2021-09-17 19:57] #30 closed

[2021-09-30 06:36] FelixD999 commented on #28
Hi,
For the previously provided log and report, Does this data help you?
Tell me if you need any help or further information.
Thanks.

[2021-09-30 12:25] mraineri commented on #28
It does; I need to take a deeper look into things, especially based on the comments made in issue #27

I'll let you know if I need help testing new changes.

[2021-10-06 18:37] mraineri opened #32 "HEAD is expected to be supported"
REQ_HEAD_DIFFERS_FROM_GET will fail if the service rejects HEAD requests with a 405 or 501. HEAD isn't required in the specification, so it's allowed for a service to reject the request.

[2021-10-06 18:40] mraineri opened #33 "Some PATCH tests fail if the request is rejected completely"
Some of the negative testing done by the tool for PATCH don't allow for the fact that a service might completely reject a request rather than perform a partial success. This is the clause that allows for the request to be rejected completely:

the requested update.

For example, REQ_PATCH_MIXED_PROPS is expecting the service returns a 200 OK with messages showing the properties not updated, but do

[2021-10-06 18:44] mraineri opened #34 "POST responses do not always need a response body"
The tool fails the following tests when verifying response bodies for POST operations to create new resources:
* PROTO_JSON_ACCEPTED
* PROTO_JSON_ALL_RESOURCES

While this is absolutely true for GET responses, POST for creating a new resource does not require any response body. The spec currently allows for a 201 Created to be returned without a body.

[2021-10-06 18:51] mraineri opened #35 "Some error response checking only inspects `@Message.ExtendedInfo`"
This is at least seen with REQ_PATCH_BAD_PROP. Currently the spec states the following with regards to error handling with bad properties in a PATCH request:

The "error response" clause does not make the usage if `@Message.ExtendedInfo` required (but it does recommend it). Depending on the circumstances, it's possible to encode everything in the top-level "code" and "message" properties and not n

[2021-10-08 19:35] #33 closed

[2021-10-08 19:35] #35 closed

[2022-01-04 11:06] FelixD999 commented on #28
Hi,
May I ask about the progress of this issue?
Ｗe're looking forward to your reply.
Thanks.

[2022-01-04 13:58] mraineri commented on #28
Unfortunately I have not had time to look further into this. This is still on my todo list to debug further.

[2022-01-25 03:02] FelixD999 commented on #28
Okay..I'm still looking forward to your help.
May I know when you expect to start working on this issue?
Thanks.

[2022-02-24 20:45] mraineri commented on #27
@JojoWu19 could you please run from the branch "Additional-Tracing" with `--log-level debug`? This should show traces for all HTTP requests/responses (minus the response body).

[2022-02-24 20:45] mraineri commented on #28
@FelixD999 could you please run from the branch "Additional-Tracing" with `--log-level debug`? This should show traces for all HTTP requests/responses (minus the response body).

[2022-03-02 03:45] JojoWu19 commented on #27
@mraineri , here is the data that you need.
[debug.zip](https://github.com/DMTF/Redfish-Protocol-Validator/files/8166478/debug.zip)

[2022-03-04 19:56] mraineri commented on #27
Looking at the trace a bit, I'm going back to my original thought about the behavior. This is what I see in debug.log:

* Line 3008: Accounts/2 gets assigned `{"UserName": "rfpvd868", "Password": "oiu1FysXFm", "RoleId": "ReadOnly"}`
* Line 3077: Accounts/2 is enabled
* Line 3147: Accounts/2 gets `{"Password": "Q7WslgeLNk", "BogusProp": "foo"}`
* Line 3278: Accounts/2 gets `{"Password": "Hvl8zfgOXe

[2022-03-07 07:35] JojoWu19 commented on #27
@mraineri , yes, the behavior is correcr as you said, but our last question is:
Line 3509 - 3511: why it get the reply is 412?
With this more details debug log, I think the root cause could be the requests have different header `Accept-Encoding: gzip` in the Line 3484 and 3509.

[2022-03-07 14:15] mraineri commented on #27
Most of the requests should be performed via the sessions being tracked by the system under test object. The requests module has the ability to add common headers to a given session so you don't need to do that throughout your code, three of which we use are "Accept-Encoding: identity", "OData-Version: 4.0", and "X-Auth-Token: <Redfish Session Token>".

However, in some tests, we want to intention

[2022-03-08 11:20] JojoWu19 commented on #27
I think redfish service shall reply 403 than 412 here, and it maybe should support this weak etag that changed by nginx.
I close this issue because this is not a tool issue.
Thank you @mraineri

[2022-03-08 11:20] #27 closed

[2022-03-14 09:23] FelixD999 commented on #28
Attached the data for refer:
[RedfishProtocolValidationReport_debug.zip](https://github.com/DMTF/Redfish-Protocol-Validator/files/8243441/RedfishProtocolValidationReport_debug.zip)

[2022-03-14 14:57] mraineri commented on #28
Following the trace, I see the account created at line 1184, followed by a GET on the account at line 1203 and 1222, and then a POST to the session collection at line 1242 (with the credentials from the first operation).

Since response data is not shown, I'd like to try this with curl. Can you run the following?

[code]

[2022-03-17 11:46] FelixD999 commented on #28
Attached the data for refer:
[issues28_curl_220317.log](https://github.com/DMTF/Redfish-Protocol-Validator/files/8284386/issues28_curl_220317.log)

[2022-03-17 12:58] mraineri commented on #28
Ah, I see what's going on; the account started off as disabled after creation.

Can you please try this sequence? If this work, I'll need to add a step to enable the account when performing this testing.

[code]

[2022-03-17 20:12] mraineri commented on #28
@FelixD999 I've also updated the "Additional-Tracing" branch to include a potential fix based on curl sequence above.

[2022-03-22 12:43] mraineri commented on #28
So the updated sequence looks correct. From the output from the test report and the curl results, I see the POST to the session collection does create a new session with the correct message indicating the user needs to change their password, but the HTTP status code is 400 instead of 201. Would you be able to look into why the service is responding with a 400 status code?

[2022-04-07 03:46] FelixD999 commented on #28
After retried the case by manual in our latest version can reproduced the status code was 400. We will fix this issue then return 201. The step "Enable the account" help us to explain the confusion about the 401 status code.

Many thanks.

[2022-04-21 14:02] jautor opened #40 "Invalid JSON responses crash tool"
Testing an implementation which has a bug that produces an invalid JSON payload, the tool crashes due with JSONDecodeError.  This makes it difficult to debug since the traceback doesn't provide the URI.  Tool should check/catch basic JSON decode faults and display an output that includes the URI of the faulty payload.

[2022-07-09 03:37] edtanous opened #42 "Clarification on SEC_ACCOUNTS_SUPPORT_ETAGS test"
In looking at the code for this test:
https://github.com/DMTF/Redfish-Protocol-Validator/blob/master/assertions/accounts.py#L257

It looks like the flow:
Requests the user from AccountService, stores the etag.
Changes the password (using the appropriate etag in If-Match).
Attempts to do another operation with If-Match set to the step 1 etag value.

The issue I'm seeing here on one system is that b

[2022-07-11 12:56] mraineri commented on #42
The specification is intentionally open-ended when it comes to producing ETags. Ultimately it's a matter of what makes the most sense for the implementation. However, from a client perspective, as long as the service accepts the client-provided ETag when performing a PATCH (assuming nothing has changed in the resource), then all should be good. As far as I can tell, clients simply read the ETag he

[2022-07-11 15:16] edtanous commented on #42
Reading into your response a little fruther, then the test needs to change such that it modifies a parameter that actually gets returned in the response, and not Password, which doesn't, so that the etag will change when the test is run?

[2022-07-11 15:22] mraineri commented on #42
One thing to be careful of with Password though is if two clients are changing the password of an account and the password itself is not factored into the ETag (and just the `null`), then you can have a potential collision there between two clients: both have the indication that they successfully changed the password, but in reality only one of them will win.

[2022-07-13 17:33] mraineri commented on #42
@edtanous could you try a branch I pushed? "Fix42-ETag-Correction" should have a fix to address this issue.

[2022-07-15 19:41] #42 closed

[2022-08-11 20:07] mraineri opened #45 "New Test Case to Ensure PATCH Responses Are Correct"
There are some services that respond with `200 OK` to PATCH requests, but their response body is either an error response with messages indicating "success", or simply the extended info messages arrays also indicating "success". Per the spec, `200 OK` is supposed to contain the modified resource in response to a PATCH; the extended info array could be in there to convey warnings or properties that

[2022-08-15 23:00] FighterNan opened #46 "Test query parameters"

[2022-08-26 19:24] mraineri commented on #46
Migrated issue to the protocol validator (service validator is strictly resource conformance against schema).

[2022-10-03 22:06] blakehilliard opened #47 "SERV_SSE_EVENT_DEST_DELETED_ON_CLOSE should wait much longer than 3 seconds"
I'm seeing this tool assert that SERV_SSE_EVENT_DEST_DELETED_ON_CLOSE fails, but that's only because it gives up after 3 seconds of closing the client side of the SSE connection.

At least in the framework I use for redfish SSE (WSGI), a close of the SSE client is only recognized on the next attempt to write to that connection, which will be on the next SSE heartbeat if no event occurs. And 3 seco

[2022-10-04 17:42] mraineri commented on #47
By "SSE heartbeat", do you mean the socket keep-alive mechanism? I wouldn't expect explicit heartbeat messages sent over SSE since that should all be handled by the socket's keep-alive method itself.

[2022-10-05 15:45] mraineri commented on #47
Gotcha, thanks for clarifying

[2022-11-07 14:23] #47 closed